
body {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

h1{
  position:absolute;
  top: 300px;
  right: 40px;
  width: 500px;
  height: 50px;
  z-index: -1;
}
h2 {
  text-align: center;
}
h3 {
  z-index: 1;
  color: blue;
  top: 50px;
  position: relative;
  text-align: left;
}

input[type=submit] {
  width: 100px;
  height: 50px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #e9f28c;
  float: left;
  color: black;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid transparent;
  text-shadow:0 1px 1px rgba(0,0,0,0.5);
}
