<!doctype html>
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
   <body background="../static/SiebertField640.jpg">
     <h2>
       Sabermetrics Final Project
     </h2>
      <form action = "https://sabermetrics-final-project.herokuapp.com/graph" method = "post">
        <div id='teams'>
          <p><input type = "submit" name = 'submitbutton' value = "LAA" height="100"/></p>
           <p><input type = "submit" name = 'submitbutton' value = "HOU" /></p>
            <p><input  type = "submit" name = 'submitbutton' value = "OAK" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "TOR" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "ATL" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "MIL" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "STL" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "CHC" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "ARI" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "LAD" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "SFG" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "CLE" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "SEA" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "MIA" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "NYM" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "WSN" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "BAL" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "SDP" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "PHI" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "PIT" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "TEX" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "TBR" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "BOS" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "CIN" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "COL" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "KCR" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "DET" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "MIN" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "CHW" /></p>
             <p><input type = "submit" name = 'submitbutton' value = "NYY" /></p>
        </div>
      </form>
      <p></p>
      <h3>
        Defense Offense Weighted: {{data[0]}}
      </h3>
      <h3>
        Attendance: {{data[1]}}
      </h3>
      <h3>
        Salary: {{data[2]}}
      </h3>
      <h3>
        Wins: {{data[3]}}
      </h3>
      <h1>
        <div id="graph1"><!-- Plotly chart will be drawn inside this DIV --></div>
        <script>
        var trace1 = {
          x: {{data[4]|safe}},
          y: {{data[5]|safe}},
          mode: 'markers',
          type: 'scatter',
          textposition: 'top center',
          textfont: {
            family:  'Raleway, sans-serif'
          },
          marker: { size: 12 }
        };
        var trace2 = {
          x: ["{{data[0]}}"],
          y: ["{{data[1]}}"],
          mode: 'markers',
          type: 'scatter',
          textposition: 'top center',
          textfont: {
            family:  'Raleway, sans-serif'
          },
          marker: {
            color: 39,
            size: 12
          }
        }


        var data = [ trace1, trace2 ];

        var layout = {
          xaxis: {
            title: {
              text: 'Defense Offense Weighted'
            },
            range: [ -5, 1 ]
          },
          yaxis: {
            title: {
              text: 'Attendance'
            },
            range: [0, 4000000]
          },
          showlegend: false,
          title:'DOW vs Attendance'
        };
        Plotly.newPlot('graph1', data, layout);
        </script>
      </h1>
      <h5>
        <div id="graph2"><!-- Plotly chart will be drawn inside this DIV --></div>
        <script>
        var trace1 = {
          x: {{data[4]|safe}},
          y: {{data[6]|safe}},
          mode: 'markers',
          type: 'scatter',
          textposition: 'top center',
          textfont: {
            family:  'Raleway, sans-serif'
          },
          marker: { size: 12 }
        };
        var trace2 = {
          x: ["{{data[0]}}"],
          y: ["{{data[2]}}"],
          mode: 'markers',
          type: 'scatter',
          textposition: 'top center',
          textfont: {
            family:  'Raleway, sans-serif'
          },
          marker: {
            color: 39,
            size: 12
          }
        }


        var data = [ trace1, trace2 ];

        var layout = {
          xaxis: {
            title: {
              text: 'Defense Offense Weighted'
            },
            range: [ -5, 1 ]
          },
          yaxis: {
            title: {
              text: 'Salary'
            },
            range: [0, 300000000]
          },
          showlegend: false,
          title:'DOW vs Salary'
        };
        Plotly.newPlot('graph2', data, layout);
        </script>
      </h5>
      <h6>
        <div id="graph3"><!-- Plotly chart will be drawn inside this DIV --></div>
        <script>
        var trace1 = {
          x: {{data[4]|safe}},
          y: {{data[7]|safe}},
          mode: 'markers',
          type: 'scatter',
          textposition: 'top center',
          textfont: {
            family:  'Raleway, sans-serif'
          },
          marker: { size: 12 }
        };
        var trace2 = {
          x: ["{{data[0]}}"],
          y: ["{{data[3]}}"],
          mode: 'markers',
          type: 'scatter',
          textposition: 'top center',
          textfont: {
            family:  'Raleway, sans-serif'
          },
          marker: {
            color: 39,
            size: 12
          }
        }


        var data = [ trace1, trace2 ];

        var layout = {
          xaxis: {
            title: {
              text: 'Defense Offense Weighted'
            },
            range: [ -5, 1 ]
          },
          yaxis: {
            title: {
              text: 'Wins'
            },
            range: [0, 150]
          },
          showlegend: false,
          title:'DOW vs Wins'
        };
        Plotly.newPlot('graph3', data, layout);
        </script>
      </h6>
      <h7>
        <div id="graph4"><!-- Plotly chart will be drawn inside this DIV --></div>
        <script>
        var OurStat = {
          x: {{data[4]|safe}},
          y: {{data[7]|safe}},
          mode: 'markers',
          type: 'scatter',
          name: 'OurStat',
          textposition: 'top center',
          textfont: {
            family:  'Raleway, sans-serif'
          },
          marker: { size: 12 }
        };
        var OffensiveStat = {
          x: {{data[8]|safe}},
          y: {{data[7]|safe}},
          mode: 'markers',
          type: 'scatter',
          name: 'OffensiveStat',
          textposition: 'top center',
          textfont: {
            family:  'Raleway, sans-serif'
          },
          marker: {
            color: 39,
            size: 12
          }
        };

        var DefensiveStat = {
          x: {{data[9]|safe}},
          y: {{data[7]|safe}},
          mode: 'markers',
          type: 'scatter',
          name: 'DefensiveStat',
          textposition: 'top center',
          textfont: {
            family:  'Raleway, sans-serif'
          },
          marker: {
            color: 20,
            size: 12
          }
        };


        var data = [ OurStat, OffensiveStat, DefensiveStat ];

        var layout = {
          xaxis: {
            title: {
              text: 'Defense Offense DOW'
            },
            range: [ -6, 5 ]
          },
          yaxis: {
            title: {
              text: 'Wins'
            },
            range: [0, 120]
          },
          title:'Defense Offense DOW'
        };
        Plotly.newPlot('graph4', data, layout);
        </script>
      </h7>
   </body>
</html>
