<!doctype html>
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
   <body background="../static/SiebertField640.jpg">
      <form action = "http://localhost:5000/{{graph}}" method = "post">
        <div id='teams'>
         <p><input type = "submit" value = "Team Name" height="100"/></p>
          <p><input type = "submit" value = "ME" /></p>
           <p><input name="COL" type = "submit" value = "Colorado Rockies" action = "http://localhost:5000/COL"/></p>
            <p><input type = "submit" value = "Him" ></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
            <p><input type = "submit" value = "Him" /></p>
        </div>
      </form>
   </body>
</html>
