<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
   <body background="../static/SiebertField640.jpg">
      <form action = "http://localhost:5000/login" method = "post">
        <div id='teams'>
         <p><input type = "submit" value = "Team Name" /></p>
          <p><input type = "submit" value = "ME" /></p>
           <p><input type = "submit" value = "You" /></p>
            <p><input type = "submit" value = "Him" /></p>
        </div>
      </form>
   </body>
</html>
