<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
   <body background="../static/SiebertField640.jpg">
     <h2>
       Sabermetrics Final Project
     </h2>
      <form action = "http://localhost:5000/graph" method = "post">
        <div id='teams'>
         <p><input type = "submit" name = 'submitbutton' value = "LAA" height="100"/></p>
          <p><input type = "submit" name = 'submitbutton' value = "HOU" /></p>
           <p><input  type = "submit" name = 'submitbutton' value = "OAK" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "TOR" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "ATL" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "MIL" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "STL" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "CHC" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "ARI" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "LAD" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "SFG" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "CLE" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "SEA" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "MIA" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "NYM" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "WSN" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "BAL" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "SDP" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "PHI" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "PIT" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "TEX" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "TBR" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "BOS" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "CIN" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "COL" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "KCR" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "DET" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "MIN" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "CHW" /></p>
            <p><input type = "submit" name = 'submitbutton' value = "NYY" /></p>
        </div>
      </form>
      <h1>
       <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
      <script>
      var trace1 = {
        x: "{{stat}}",
        y: "{{attendance}}",
        mode: 'markers',
        type: 'scatter',
        textposition: 'top center',
        textfont: {
          family:  'Raleway, sans-serif'
        },
        marker: { size: 12 }
      };


      var data = [ trace1 ];

      var layout = {
        xaxis: {
          range: [ -5, 2 ]
        },
        yaxis: {
          range: [0, 8]
        },
        legend: {
          y: 0.5,
          yref: 'paper',
          font: {
            family: 'Arial, sans-serif',
            size: 20,
            color: 'grey',
          }
        },
        title:'DOW vs Attendance'
      };

      Plotly.newPlot('myDiv', data, layout);
      </script>
    </h1>
   </body>
</html>
